* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f6f8;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 200px 20px;
  }
  
  header h1 {
    font-size: 3rem;
    padding: 5px 5px 15px 5px;

    margin-bottom: 25px;
  }

  header p {
    margin-bottom: 45px;
  }
  
  header .btn {
    margin-top: 20px;
    padding: 12px 20px;
    background: white;
    color: #0056b3;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .hero {
    text-align: center;
    margin-top: 40px;
  }
  
  .hero img {
    max-width: 20%;
    height: auto;
    padding: 20px;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  form label {
    display: block;
    margin-top: 15px;
  }
  
  form input,
  form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #0056b3;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #00449e;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #666;
  }
  
  input:disabled {
    background-color: #f0f0f0; 
    color: #999;              
    cursor: not-allowed;      
  }
  
 
  .checkbox-wrapper {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
    color: #333;
    white-space: nowrap;
  }
  