/* Estilo da página de agendamento */
.navbar {
    position: static;
}

.container { 
    margin-top: 45px;
    
}


.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-top: 15px;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  margin-top: 20px;
  width: 100%;
  padding: 12px;
  background-color: #0056b3;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #00449e;
}

input:disabled {
  background-color: #f0f0f0;
  color: #999;
  cursor: not-allowed;
}

.checkbox-wrapper {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.95rem;
  color: #333;
  white-space: nowrap;
}
